api.htruong83.com {
    tls internal
    handle_path /api/v1/fast* {
        rewrite * /api/v1{path}
        reverse_proxy fast-api-demo.railway.internal:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle_path /* {
        reverse_proxy fast-api-demo.railway.internal:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
