{
    # Global logging configuration
    log {
        output stdout
        format json
        level DEBUG  # Set to DEBUG to see more detailed logs
    }
}

api.htruong83.com {
    tls internal

    # Log all requests at the site level
    log

    handle /api/v1/fast* {
        log
        rewrite * /api/v1{uri}
        reverse_proxy fast-api-demo.railway.internal:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }

    handle {
        log
        reverse_proxy fast-api-demo.railway.internal:8080 {
            header_up Host {host}
            header_up X-Real-IP {remote}
            header_up X-Forwarded-For {remote}
            header_up X-Forwarded-Proto {scheme}
        }
    }
}
